/* styles.css */

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

.pageTitle{
    margin-left: 40px; 
    margin-top: 15px;
    line-height: 50px;
  }
  

.kanban-board {
    display: flex;
    /*justify-content: space-around;*/
    margin: 0 auto;
    margin-top:80px;
    margin-left:200px;
    padding: 20px;
}

.column {
    background-color: #f0f0f0;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);*/
    padding: 15px;
    width: 20%;
    border-radius: 1em;
    background-color: lightye;
    min-width: 300px;
}

#inprogress{
    margin-left: 10px;
}

#completed{
    margin-left: 10px;
}

.center {
    margin-top: 0;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: large;
}

.add-task-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

.tasks {
    min-height: 100px;
    padding: 10px;
    margin-top: 10px;
}

.task{
    border-radius:0.5em;
    background-color:white;
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 2px;
}


.button-container {
    display: flex;
    justify-content: center;
}

.drag-over{
    border: 1px solid black;
}


/* CSS for the Modal */

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%; /* Adjust the width as needed */
    text-align: center;
    position: relative;
    margin-top: 80px;
  }
  .modal-content-scroll {
    max-height: 500px; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}
  
  /* Modal Heading */
  .modal-content h2 {
    margin-top: 0;
    color: #333;
  }
  
  /* Modal Form Styling */
  .modal-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .modal-content li {
    margin-bottom: 10px;
    text-align: left;
  }
  
  /* Label Styling */
  .modal-content label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
  /* Button Styling */
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  /* Cancel Button Styling */
  #cancelNewUserBtn {
    background-color: #ccc;
    color: #333;
  }
  
  /* Close Button Styling */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    color: #333;
  }
  
  /* Close Button Hover Effect */
  .close:hover {
    background-color: #ddd;
  }
  
  /* Center the Modal */
  .center-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Optional: Add a subtle animation */
  .modal-content {
    animation: slide-down 0.3s ease-in-out;
  }
  
  @keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  
  .form-button{
    background-color: #0f9f29;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 6px 8px;
  }
  .form-button:hover{
    background-color: #0056b3;
  }
  .submit{
    margin:12px;
  }

/* CSS for task modal */
#task-modal button {
  background-color: #007bff;
  color: white;
  padding: 9px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#task-modal button:hover {
  background-color: #0056b3;
}

#task-title {
  width: 100%;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#taskDetails {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#assignee, #priority, #sprintDetails {
  width: 30%;
}

#mainSection {
  display: flex;
  border-top: 1px solid #ccc;
}

#leftSide {
  width: 70%;
  padding: 20px;
  border-right: #ccc solid 1px;
}

#rightSide {
  width: 30%;
  padding: 20px;
}

.modal-content input, .modal-content select, .modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 5px;
}

#selected-assignees {
  list-style: none;
  padding: 0;
}

#selected-assignees li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#selected-assignees .remove-member-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  color: red;
  margin-left: 10px;
}

#selected-assignees .remove-member-btn:hover {
  background: none;
}

#assigneeContainer {
  display: flex;
  align-items: center;
}

#addAssigneebtn {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

#commentSection {
  margin-top: 20px;
  height: 200px;
  overflow-y: auto;
}

#commentsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#commentsList li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f9f9f9;
}

#commentsList .delete-comment {
  background: none;
  border: none;
  color: #FF0000;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  float: right;
}

#commentsList .delete-comment:hover {
  background: none;
}